@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

*, *:before, *:after{
 	margin:0;
 	padding:0;
 	text-decoration: none;
  box-sizing: border-box;
 }

/* Fonts */

p{
font-family: 'Roboto', sans-serif;
color: #333;
font-size: 1.250em
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Roboto Slab', serif;
color: #ffce3b;
}

.btn-font{
font-family: 'Roboto Slab', serif;
}

 li, a{
font-family: 'Roboto', sans-serif;
color: #333;
list-style-type: none;
font-size: 1.25em;
}

/* Background Colours */

.bg-gray{
background-color: #3333;
}

.bg-yellow{
background-color: #ffce3b;
}

/* Nav */

.menu-item{
display: inline-flex;
padding-right: 20px;

}

/* Layout */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headerImage{
    width: 100vw;
    height: 60vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* WooCommerce */

.billingFields .form-row{
    width: 100% !important;
}

.billingFields .form-row .woocommerce-input-wrapper{
    width: 100% !important;
}

.billingFields .form-row .woocommerce-input-wrapper input,
.billingFields .form-row .woocommerce-input-wrapper select{
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

.billingFields .form-row .woocommerce-input-wrapper textarea{
    min-height: 200px !important;
    max-height: 800px !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}
